* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #e3f2ff, #f6e8ff);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("/image.png") no-repeat center center/cover;
    font-size: 20px;
}


.login-container {
    background: rgba(255, 255, 255, 0.338);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;

}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
  background: linear-gradient(135deg, #386641, #a5be00);
  border: none;
  color: white;
  padding: 14px 22px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 16px 35px rgba(124, 58, 237, 0.25);
  transition: all 0.3s ease;
}

button:hover {
    background-color: #a5be00;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.success {
    color: green;
    font-size: 14px;
    margin-bottom: 10px;
}